@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  margin: 12px 0;
  height: 2px;
  background-color: #999;
  border: 0;
}

.ingredients {
  gap: 16px;
  display: inline-grid;
}

.property {
  background-color: #ccc;
  border-radius: 0.5rem;
  margin: 4px 0;
  padding: 8px 0;
}
.property--header {
  font-weight: bold;
  font-size: 20px;
  padding: 0 0 4px 8px;
}
.padded {
  padding-left: 16%;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: grey;
    background: black;
  }
}
